@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
} 

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.modal-open,
html.modal-open,
#root.modal-open {
  overflow: hidden !important;
  height: 100%;
}



/*////////////////
// Font Section //
////////////////*/
@font-face {
  font-family: 'Inter-Regular';
  src: url('../public/fonts/inter-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../public/fonts/inter-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../public/fonts/merriweather-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../public/fonts/merriweather-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amoresa';
  src: url('../public/fonts/amoresa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}